html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
<<<<<<< HEAD

.dashboard {
    display: grid;
    gap: 10px;
    margin-top: 20px;
}

.dashboard div {
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 10px;
    font-size: 18px;
}

=======
>>>>>>> 2c81667e6208947082015ce8365faece0c4f8c53
