@{
    ViewData["Title"] = "Logs";
}

<div class="alert-info">
    <p>Hieronder staan de logs van de applicatie.</p>
</div>
@{
    try
    {
        List<string> strings = new List<string>();
        using (StreamReader readtext = new StreamReader("logFile.txt"))
        {
            string? line;
            while ((line = readtext.ReadLine()) != null)
            {
                strings.Add(line);
            }
        }

        foreach (var line in strings)
        {
            <div class="log">
                <p class="logline">@line</p>
            </div>
        }
    }
    catch (Exception ex)
    {
        Console.WriteLine(ex);
    }
}
